@import "tailwindcss";

.font-autour {
  font-family: "Autour One", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 640px) {
  .hero-section {
    background-image: var(--bg-desktop) !important;
  }
}